@define-color background #000000;
@define-color foreground #ffffff;
@define-color accent #888888;

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

#waybar {
  color: @foreground;
  background-color: @background;
}

#workspaces button {
  color: @foreground;
  background: transparent;
  border: none;
  box-shadow: none;
  transition: none;
}

#workspaces button:hover,
#window,
#custom-power:hover {
  color: @accent;
}

#tray,
#wireplumber,
#clock,
#custom-power {
  padding-right: 1em;
}
